*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: mintcream;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
    background-color: darkslategray;
}

.container {
    max-width: 50%;
    background-color: mintcream;
    border-radius: 0.5rem;
    padding: 1rem;
}

#question {
    font-weight: 500;
}

.answer-buttons {
    display: grid;
}

.btn {
    text-align: left;
    margin-top: 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

#start-btn {
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-weight: 700;
    background-color: rgb(142, 247, 156);
}

#start-btn:hover {
    background-color: rgb(131, 224, 143);
}

.hide {
    display: none;
}