/* Sets everything to border-box */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Styles the header of the page */
h1 {
    color: mintcream;
}

#scoreTime {
    display: inline-flex;
    justify-content: space-between;
    max-width: 50%;
    min-width: 50%;
    font-size: 0.5rem;
    font-weight: 500;
    background-color: mintcream;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.scoreTimeDivs {
    display: inline-flex;
}

.scoreTimePs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0rem;
}

/* Styles the body of the page */
body {
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles the main container the instructions and quiz are in */
.container {
    max-width: 50%;
    min-width: 50%;
    background-color: mintcream;
    border-radius: 0.5rem;
    padding: 1rem;
}

/* Styles the question */
#question {
    font-weight: 500;
}

/* Styles the layout of the choice buttons */
#choices-container {
    display: grid;
}


/* Styles the choice buttons */
.choice-btn {
    text-align: left;
    margin-top: 0.5rem;
}

/* Changes the mouse cursor to a hand when over any click-able button */
.btn:hover {
    cursor: pointer;
}


/* Styles the START button */
#start-btn {
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    background-color: rgb(142, 247, 156);
}

/* Styles the START button when mouse hovers over it  */
#start-btn:hover {
    background-color: rgb(74, 221, 94);
}

#controlsFooter {
    display: inline-flex;
}

.controls {
    text-align: center;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 600;
    background-color: rgb(244, 247, 121);
}

#next-btn:hover {
    background-color: rgb(230, 233, 49);
}

#finish-btn {
    background-color: rgb(250, 128, 107);
}

#finish-btn:hover {
    background-color: rgb(224, 75, 49);
}

#feedback {
    font-style: italic;
    margin-left: 1rem;
}

/* Hides the quiz container, next button and finish button by default and is called on to hide other elements through JS */
.hide {
    display: none;
}